.card-text {
	font-style: italic;
}
.hr_first {
	width: 50%;
}
.project_main_hr_container {
	margin: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	margin: 5px;
	padding: 0 !important;
}
.card > .card-body > a {
	margin-top: 12px;
}
.card:hover {
	box-shadow: 0px 1px 5px 2px lightgray;
}
.card-body {
	padding-top: 0.5rem;
}
#contribution {
	/* background: #8ab4f8 !important; */
	border: none;
	/* color: #000; */
	width: 150px;
}
#contribution > span {
	background-color: white !important;
	color: black;
}
#solo {
	/* background: #fdd663 !important; */
	border: none;
	/* color: black; */
	width: 150px;
	margin: 0 !important;
}
#solo > span {
	background-color: white !important;
	color: black;
}
#about_card {
	/* 	flex-direction: row !important; */
	min-height: 15rem !important;
	height: auto;
}
#about_card_ {
	height: fit-content !important;
}
#about_card > .card-header {
	border: none;
}
.list-group-item > img {
	max-width: 2rem;
}
.list-group.list-group-flush {
	width: 100%;
}
#main_ > .row {
	margin: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
#main_ {
	margin-top: 5rem;
}
